In [6]:
import fastf1 as ff1
from fastf1.events import Session

In [7]:
session : Session  = ff1.get_session(2021, 'Monaco', 'R')

In [ ]:
session.load()

In [12]:
session.laps.head(5)

,Time,DriverNumber,LapTime,LapNumber,PitOutTime,PitInTime,Sector1Time,Sector2Time,Sector3Time,Sector1SessionTime,...,Compound,TyreLife,FreshTyre,Stint,LapStartTime,Team,Driver,TrackStatus,IsAccurate,LapStartDate
0,0 days 00:34:16.815000,33,NaT,1.0,0 days 00:00:04.827000,NaT,NaT,0 days 00:00:36.535000,0 days 00:00:20.724000,NaT,...,SOFT,6.0,False,1,0 days 00:32:54.677000,Red Bull Racing,VER,1,False,2021-05-23 13:02:55.440
1,0 days 00:35:34.295000,33,0 days 00:01:17.480000,2.0,NaT,NaT,0 days 00:00:20.615000,0 days 00:00:36.346000,0 days 00:00:20.519000,0 days 00:34:37.430000,...,SOFT,7.0,False,1,0 days 00:34:16.815000,Red Bull Racing,VER,1,True,2021-05-23 13:04:17.578
2,0 days 00:36:51.593000,33,0 days 00:01:17.298000,3.0,NaT,NaT,0 days 00:00:20.460000,0 days 00:00:36.305000,0 days 00:00:20.533000,0 days 00:35:54.755000,...,SOFT,8.0,False,1,0 days 00:35:34.295000,Red Bull Racing,VER,1,True,2021-05-23 13:05:35.058
3,0 days 00:38:08.830000,33,0 days 00:01:17.237000,4.0,NaT,NaT,0 days 00:00:20.609000,0 days 00:00:36.124000,0 days 00:00:20.504000,0 days 00:37:12.202000,...,SOFT,9.0,False,1,0 days 00:36:51.593000,Red Bull Racing,VER,1,True,2021-05-23 13:06:52.356
4,0 days 00:39:25.722000,33,0 days 00:01:16.892000,5.0,NaT,NaT,0 days 00:00:20.444000,0 days 00:00:36.046000,0 days 00:00:20.402000,0 days 00:38:29.274000,...,SOFT,10.0,False,1,0 days 00:38:08.830000,Red Bull Racing,VER,1,True,2021-05-23 13:08:09.593

In [14]:
telemetry = session.laps.pick_driver('HAM').pick_fastest().get_car_data().add_distance()
telemetry.head(5)

/home/fedann/.local/share/virtualenvs/f1data-mongo-test-eSInWmvA/lib/python3.10/site-packages/fastf1/core.py:378: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  data_slice.loc[:, 'Time'] = data_slice['SessionTime'] - start_time

,Date,RPM,Speed,nGear,Throttle,Brake,DRS,Source,Time,SessionTime,Distance
0,2021-05-23 14:30:29.241,10664,261,7,100,False,0,car,0 days 00:00:00.186000,0 days 02:00:28.478000,13.485000
1,2021-05-23 14:30:29.481,10687,263,7,100,False,0,car,0 days 00:00:00.426000,0 days 02:00:28.718000,31.018333
2,2021-05-23 14:30:29.721,10638,263,7,100,False,0,car,0 days 00:00:00.666000,0 days 02:00:28.958000,48.551667
3,2021-05-23 14:30:29.961,10691,263,7,100,False,0,car,0 days 00:00:00.906000,0 days 02:00:29.198000,66.085000
4,2021-05-23 14:30:30.201,10720,263,7,100,False,0,car,0 days 00:00:01.146000,0 days 02:00:29.438000,83.618333